
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #040303;
  color: white;
  background-image: url("./images/bk-arcade.jpg");
}

.mole {
  height: 95px;
  width: 90px;
}

.gameInfo {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  margin: 0.5rem;
}



.gameInfo button:hover {
  background: #B3541E;
  color: antiquewhite;
}

.gameInfo h2 {
  margin: 3px;
}

.score {
  display: flex;
  font-size: 0.8rem;
  color:antiquewhite;
}

.time {
  display: flex;
  font-size: 0.8rem;
  color:antiquewhite;
}

.grid {
  width: 390px;
  height: 390px;
  display: flex;
  flex-wrap: wrap;
  margin: 0.3rem auto;
  row-gap: 18px;
  align-content: center;
}
.gameOver h2, p, h5{
  margin: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ce5252;
  --color-secondary: #882b2b;
  --color-tertiary: #742525;
  --color-quaternary: #611f1f;
  --color-quinary: #4e1818;
}

.title {
  display: flex;
  align-content: center;
  justify-content: center;
}

.title h1 {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(0.6rem + 2vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.2rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


.container.arcade {
  max-width: 1200px;
  margin: auto;
  height: 691px;
  background-image: url("./images/retro-machine.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mole {
  height: 130px;
  width: 130px;
  position: absolute;
  left: -15px;
  bottom: -21px;
}
.container--game {
  margin-top: 195px;
}
.gameInfo h2 {
  margin: 3px;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
}
.gameInfo button {
  justify-content: center;
  background: linear-gradient(to bottom, #d64534 5%, #39100c 100%);
  background-color: #ededed;
  border-radius: 3px;
  border: 1px solid #ca382c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  padding: 5px 15px 5px 15px;
  line-height: 1;
}
.gameInfo button:hover {
    background: linear-gradient(to bottom, #ca382c 5%, #0f010d 100%);
    transition: 1s;
}
body { 
  cursor: url('./images/cursor-freak.svg')
, auto; 
}
.orden--gameOver {
    position: absolute;
    justify-content: center;
    background: linear-gradient(to bottom, #cb2d5b 5%, #9b141a 100%);
    background-color: #ededed;
    border-radius: 12px;
    box-shadow: 2px 2px 13px black;
    border: 3px solid #6e0d24;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    width: 550px;
    left: 50%;
    top: 405px;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    padding: 10px 25px 13px 25px;
    line-height: 1;
    margin-left: -275px;
}
.square {
  margin: 0px 15px 15px 15px;
  height: 80px;
  width: 100px;
  position: relative;
  padding: 10px;
  justify-content: center;
  background: linear-gradient(to bottom, #3d1449 5%, #0f010d 100%);
  background-color: #ededed;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  border: 2px solid #571f74;
  cursor: url(./images/pow.svg) , auto!important;
  transition: 0.5s;
}
.square:hover {
  padding: 10px;
  border-radius: 11px;
  justify-content: center;
  background: linear-gradient(to bottom, #3d1449 5%, #0f010d 100%);
  background-color: #ededed;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  border: 4px solid #cb4431;
  cursor: url(./images/cursor-freak.svg) , auto!important;
}
.info-game {
  max-width: 821px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #16011c;
  margin-top: -35px;
  padding: 15px;
  border: 2px solid #480e59;
}
h1.title-info {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  font-size: 17px;
}
p.p-info {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  line-height: 25px;
}
button#reload {
    justify-content: center;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(to bottom, #16011c 5%, #73208b 100%);
    background-color: #ededed;
    border: 2px solid #16011c;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 15px 5px 15px;
    line-height: 1;
    border-radius: 9px;
}